@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

$fuente-principal: 'Dosis', sans-serif;


//Tamaños de letra

$normal: 1.5rem;
$mediana: 2rem;
$grande: 3rem;

//Grosores

$gruesa: 700;
$ultra-gruesa: 900;


//colores

$negro: rgb(12, 10, 10);
$blanco: white;